<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">


        <bean id="user" class="zhang.spring.dao.User">
            <property name="userName" value="张赛"></property>
            <property name="age" value="28"></property>
            <property name="sex" value="男"></property>
            <property name="id" value="412726199411261637"></property>
            <property name="phoneNum" value="15601758309"></property>
            <property name="address" value="上海市奉贤区光钱路600弄"></property>
            <property name="email" value="958216604@qq.com"></property>
        </bean>

        <bean id="beanFactorProcessor" class="zhang.spring.processor.BeanFactorProcessor"></bean>

</beans>